[submodule "Output"]
	path = Output
	url = git@github.com:naptaker/craptaker.git
	branch = output
[submodule "lalily"]
	path = lalily
	url = git@github.com:yurrriq/lalily.git
[submodule "lib/docker"]
	path = lib/docker
	url = git@github.com:yurrriq/dockerfiles.git
	branch = lilypond
